@model GestionRestaurants.ViewModels.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Restablecer contraseña";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ResetPassword">
            <div asp-validation-summary="All" class="text-danger"></div>  
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="NewPassword">Contraseña</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirmacion de contraseña</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Restablecer</button>
            <a asp-action="Index" class="btn btn-default">Cancelar</a>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
