@model GestionRestaurants.Models.HorarioDeReserva

@{
    ViewData["Title"] = "Eliminar Restaurant";
}

<h2>Eliminar</h2>

<h3>Esta seguro que quiere eliminar el restaurant?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restaurant.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-default" asp-action="Index">Listado</a>
    </form>
</div>
